@import './variables';

.home-title {
    font-family: 'Permanent Marker';
    font-size: 3.6rem;
}

.home-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        margin-bottom: 7rem;
    }
}

.cat-img {
    width: 160px;

    &:hover {
    transform: scale(1.02);
    }
}

p {
    color: rgb(211, 43, 37);    
}
