@import './variables';

.home-title {
    font-family: 'Permanent Marker';
    font-size: 3.6rem;
}

.home-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        margin-bottom: 2rem;
    }
}