// External Imports
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

// Sass
@import './pageHome';
@import './variables';
@import './utility';

// General Styling
* {
    font-family: 'Caveat';    
}
h1 {
    font-family: 'Permanent Marker';
    font-size: 3rem;
}
h2 {
    font-family: 'Caveat';
    font-size: 1.6rem;
    font-weight: bold;
}
p {
    font-family: 'Caveat';
    font-size: 1.45rem;
}